.workArea {
	font-family: sans-serif;
}

/* aside */
aside  {
	padding: 40pt 40pt 10pt;
}

.section1 h1 {
	text-align: center;
	color: rgb(87,111,135);
	font-size: 25pt;
	font-weight: bold;
}

.section1 p {
	color: rgb(211,189,165);
	text-align: center;
}

.section2 {
	width: 100;
	border-top: 2px solid rgb(87,111,135);
	border-bottom: 2px solid rgb(87,111,135);
	padding: 5pt 0;
	margin: 10pt 0 0;
}

.section2 ul {
	text-align: center;
}

.section2 li {
	display: inline-block;
	vertical-align: top;
	width: 23.5%;
	text-align: center;
	margin-right: 1%;
}

.section2 li:last-child {
	margin: 0;
}

.mybirth:before {
	content: 'Date of birth';
	display: block;
	width: 100%;
	color: rgb(87,111,135);
}

.myaddress:before {
	content: 'Address';
	display: block;
	width: 100%;
	color: rgb(87,111,135);
}

.myphone:before {
	content: 'Phone';
	display: block;
	width: 100%;
	color: rgb(87,111,135);
}

.myemail:before {
	content: 'Email';
	display: block;
	width: 100%;
	color: rgb(87,111,135);
}

/* main */
main {
	width: 100%;
	height: 100%;
	padding: 0 40pt 40pt;
}

main.noAside {
	padding-top: 40pt;
}

main section {
	position: relative;
	width: 100%;
	background: rgb(230,223,215);
	display: table;
}

main section:not(.headline):not(#mySkills) {
	padding: 5pt;
}

main section:first-child {
	margin-top: 0;
}

.headline {
	margin-top: 10pt;
}

main section h2 {
	background: rgb(87,111,135);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5pt;
}

main section div, #mySkills li {
	display: inline-block;
	vertical-align: top;
}

main section > div:first-child {
	width: 28%;
	margin-right: 1%;
	vertical-align: middle;
}

main section ul {
	margin: 10pt 5pt;
}

main section > div:last-child {
	width: 70%;
}

.datesWork:before, .datesEdu:before {
	content: '[';
}

.datesWork:after, .datesEdu:after {
	content: ']';
}

.occupation, .employer, .degree, .institution {
	color: rgb(87,111,135);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10pt;
	width: 48%;
}

.occupation, .degree {
	float: left;
}

.employer, .institution {
	float: right;
	text-align: right;
}

.description {
	padding-top: 5pt;
	clear: both;
}

main #mySkills:not(:first-child) {
	margin-top: 10pt;
}

#mySkills ul {
	position: relative;
}

#mySkills li {
	width: calc(50% - 5pt);
}

#mySkills li:first-child, #mySkills li:nth-child(2) {
	margin-top: 0;
}

#mySkills li:nth-child(odd) {
	padding-right: 4pt;
}























